.nav_banner {
  background-color: #ff6d6a;
  position: relative;
  padding: 20px;
  z-index: 5;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  background-color: black;
  border-radius: 20px;
  z-index: 5;
}

.nav-item {
  font-size: 25px;
  border: 1px solid white;
  background-color: #ff6d6a;
  border-radius: 20px;
  margin: 5px 15px 5px 15px;
  font-family: "Chewy", serif;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 150px;
  min-width: 120px;
  text-align: center;
  z-index: 1;
}

.nav-item a {
  text-decoration: none;
  color: #f9dce8;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1), -1px -1px 3px rgba(0, 0, 0, 1),
    1px -1px 2px rgba(0, 0, 0, 1), -1px 1px 2px rgba(0, 0, 0, 1);
  transition-timing-function: ease-in;
  transition: 1s;
}
.nav-item a:hover {
  color: darkturquoise;
  transform: rotate(-10deg);
}
.nav-item a:active {
  color: darkturquoise;
}

.nav_banner h1 {
  font-family: "Chewy", serif;
  font-size: 100px;
  padding: 20px;
  text-align: center;
}

main h1 {
  font-family: "Chewy", serif;
  font-size: 50px;
  padding: 20px;
  text-align: center;
  text-decoration: underline;
}

#lottie-container {
  position: absolute;
  height: 300px;
  width: 300px;
  transform: translateX(0);
  animation: moveCat 100s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-help-container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  height: 800px;
}

.box {
  background-color: #ff6d6a;
  height: auto;
  width: 20rem;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 10rem;
  margin: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  border: 5px solid black;
}

.box h1 {
  display: block;
  font-size: 2em;
  text-decoration: none;
  height: 3em;
  align-content: center;
  border-bottom: 5px solid black;
  padding: 5px;
}

.box p {
  font-size: 3rem;
  color: white;
  font-family: "Chewy", serif;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 1), -1px -1px 3px rgba(1, 1, 1, 1);
  padding: 1em;
}

.footer {
  display: flex;
  justify-content: left;
  justify-self: flex-end;
  align-items: start;
  background-color: grey;
  width: 100%;
  height: 100px;
  bottom: 0%;
  margin-top: auto;
  border-top: 1px solid black;
}
.footer h1 {
  font-size: 25px;
  padding: 0;
}

.footer img {
  height: 50px;
  width: auto;
  padding: 0px;
  margin: 10px;
}

@keyframes moveCat {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - 220px);
  }
  100% {
    left: 0;
  }
}
