.nav_banner {
  background-color: #ff6d6a;
  position: relative;
  padding: 20px;
  z-index: 5;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  background-color: black;
  border-radius: 20px;
  z-index: 5;
}

.nav-item {
  font-size: 25px;
  border: 1px solid white;
  background-color: #ff6d6a;
  border-radius: 20px;
  margin: 5px 15px 5px 15px;
  font-family: "Chewy", serif;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 150px;
  min-width: 120px;
  text-align: center;
  z-index: 1;
}

.nav-item a {
  text-decoration: none;
  color: #f9dce8;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1), -1px -1px 3px rgba(0, 0, 0, 1),
    1px -1px 2px rgba(0, 0, 0, 1), -1px 1px 2px rgba(0, 0, 0, 1);
  transition-timing-function: ease-in;
  transition: 1s;
}
.nav-item a:hover {
  color: darkturquoise;
  transform: rotate(-10deg);
}
.nav-item a:active {
  color: darkturquoise;
}

.nav_banner h1 {
  font-family: "Chewy", serif;
  font-size: 75px;
  padding: 20px;
  text-align: center;
}

main h1 {
  font-family: "Chewy", serif;
  font-size: 50px;
  padding: 20px;
  text-align: center;
  text-decoration: underline;
}

#button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#button {
  font-size: 30px;
  padding: 20px 40px;
  background-color: #ff6d6a;
  border: 5px solid black;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Chewy", serif;
  font-size: 25px;
  padding: 20px;
  text-align: center;
  margin: 20px;
  text-decoration: none;
  color: #f9dce8;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1), -1px -1px 3px rgba(0, 0, 0, 1),
    1px -1px 2px rgba(0, 0, 0, 1), -1px 1px 2px rgba(0, 0, 0, 1);
  transition-timing-function: ease-in;
  transition: 1s;
}

label {
  font-size: 30px;
  background-color: #ff6d6a;
  border: 5px black solid;
  border-radius: 10px;
  color: black;
  transition: background-color 0.3s;
  font-family: "Chewy", serif;
  font-size: 25px;
  padding: 20px;
  text-align: center;
  margin: 20px;
  text-decoration: none;
  color: #f9dce8;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1), -1px -1px 3px rgba(0, 0, 0, 1),
    1px -1px 2px rgba(0, 0, 0, 1), -1px 1px 2px rgba(0, 0, 0, 1);
  transition-timing-function: ease-in;
  transition: 1s;
  width: 400px;
}

select {
  font-size: 20px;
  background-color: #ff6d6a;
  border: 5px black solid;
  border-radius: 10px;
  color: black;
  transition: background-color 0.3s;
  font-family: "Chewy", serif;
  font-size: 25px;
  padding: 20px;
  text-align: center;
  margin: 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  width: 400px;
}
.dropdow_hover:hover {
  color: #f9dce8;
}

#dropdown {
  font-size: 20px;
  background-color: #ff6d6a;
  border: 5px black solid;
  border-radius: 10px;
  color: black;
  transition: background-color 0.3s;
  font-family: "Chewy", serif;
  font-size: 25px;
  padding: 20px;
  text-align: center;
  margin: 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  width: 400px;
}

.secondhalfcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.response {
  border: 5px solid black;
  background-color: #ff6d6a;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-family: "Chewy", serif;
  font-size: 40px;
  margin-left: 100px;
}

.response p {
  font-family: "Chewy", serif;
  font-size: 35px;
  padding-top: 5px;
}

.box {
  background-color: #ff6d6a;
  height: auto;
  width: 20rem;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 10rem;
  margin: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  border: 5px solid black;
}

.box h1 {
  display: block;
  font-size: 2em;
  text-decoration: none;
  height: 3em;
  align-content: center;
  border-bottom: 5px solid black;
  padding: 5px;
}
