body {
  font-family: "Chewy", cursive;
  background-color: #f1f5f8;
  margin: 0;
  padding: 0;
}

.hero {
  background: #007bff;
  color: white;
  padding: 100px 0;
  text-align: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.form-container {
  max-width: 420px;
  margin: -50px auto;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.form-control {
  border-radius: 30px;
  box-shadow: none;
  margin-bottom: 20px;
}

.btn-custom {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 30px;
  width: 100%;
  font-size: 16px;
}

.btn-custom:hover {
  background-color: #0056b3;
}

.error-message {
  color: #e74c3c;
  font-weight: bold;
  text-align: center;
}

/* Cat animation styling */
.cat-animation {
  position: absolute;
  z-index: 5;
  top: -17%;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: auto;
}

.login-title {
  text-align: center;
  margin-bottom: 30px;
}

.login-title img {
  width: 150px;
}
