<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Schedule</h1>
    <form action="POST">
      <label for="event-date">Choose a date:</label>
      <input type="date" id="event-date" name="date" required />

      <label for="event">Enter Event:</label>
      <input type="text" id="event" name="task" required />

      <button type="submit">Set Date</button>
    </form>
    <ul>
      {%for key, value in dates.items() %}
      <li><strong>{{ key }}</strong>: {{ value }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
